name: prune
# based on https://github.com/airtower-luna/hello-ghcr

on:
  push:
    branches:
      - main
      
  pull_request:

  schedule:
    - cron: '5 4 * * 1' # early monday https://crontab.guru/#5_4_*_*_1

  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry-Run'
        default: 'true'
        required: false

env:
  DRY_RUN: true

permissions:
  contents: read
  packages: write

jobs:
  prune:
    runs-on: ubuntu-22.04
    name: build (${{ matrix.image.name }})

    strategy:
      fail-fast: false
      matrix:
       image:
        - name: docker-build-cache
          dry-run: false

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup PDM
        uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4.4
        with:
          python-version-file: .python-version
          version: 2.26.1 # renovate: datasource=pypi depName=pdm
          cache: true

      - name: Install pdm dependencies
        run: pdm install --prod

      - name: Check dry run
        run: |
          if [[ "${{ matrix.image.name }}" == "true" ]]; then
            echo "DRY_RUN=true" >> "$GITHUB_ENV"
          elif [[ "${{github.event_name}}" == "workflow_dispatch" && "${{ github.event.inputs.dry-run }}" != "true"  ]]; then
            echo "DRY_RUN=false" >> "$GITHUB_ENV"
          elif [[ "${{github.ref_name}}" == "${{ github.event.repository.default_branch }}" ]]; then
            echo "DRY_RUN=false" >> "$GITHUB_ENV"
          fi

      - name: Prune untagged images
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pdm run ghcr-prune.py --container ${{ matrix.image.name }} --prune-age 30 ${{ env.DRY_RUN == 'true' && '--dry-run' || '' }}